<!-- templates/components/footer.html -->
{% load static %}
<style>
    .footer {
        padding-top: 32px;
        text-align: center;
        padding-bottom: 20px
    }

    .footer a {
        margin: 0 10px;
        display: inline-block;
        color: #282b2d;
        font-size: 18px
    }

    page-footer .links {
        display: inline-block
    }
</style>

<footer class="footer bg-dark text-light py-3">
  <div class="container">
    <span>© 2024 Weather Insights</span>
    <div>
      <a href="#" class="text-light mr-3"><i class="fab fa-twitter"></i></a>
      <a href="#" class="text-light mr-3"><i class="fab fa-instagram"></i></a>
      <a href="#" class="text-light mr-3"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</footer>