<!-- todo_list.html in the todo app -->

{% load static %}

<html>
<head>
    <title>Todo List</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <h1>Todo List</h1>
    <form method="post" hx-post="" hx-target="#todo-list" hx-swap="outerHTML">
        {% csrf_token %}
        <input type="text" name="description" placeholder="Add new todo">
        <button type="submit">Add</button>
    </form>

    <ul id="todo-list">
    {% for todo in todos %}
        <li style="{% if todo.completed %}text-decoration: line-through;{% endif %}"
            hx-get="{% url 'toggle_todo' todo.pk %}" hx-trigger="click" hx-target="this" hx-swap="outerHTML">
            {{ todo.description }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
