{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Django HTML Marker</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div id="map"></div>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7mz3cFgW2AiTqfBAGQdp7NooU6eq0Ci4&libraries=marker"></script>
  <script>
    function initMap() {
      const map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 18.224, lng: -66.045 },
        zoom: 14,
      });

      const waypoint_info = fetchWaypoints();

      const markers = waypointData.map(waypoint => {
          return new google.maps.Marker({
            position: { lat: waypoint.latitude, lng: waypoint.longitude },
            map: map,
          });
        });


      const marker = new google.maps.Marker({
        map: map,
        position: { lat: 37.42, lng: -122.1 },
        content: priceTag,
      });
    }

    initMap();
  </script>
</body>
</html>