{% extends "resource_maps/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<!-- Map container -->
<div id="map" style="height: 600px;"></div>
    <script>
    // Preparing waypoint data from Django context to JavaScript
    var waypoints = JSON.parse('{{ waypoints_json|escapejs }}');
    // Import required libraries
    google.maps.importLibrary("marker");
    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(18.2244, -66.0457), // Default center of the map
            zoom: 12 // Default zoom level
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        waypoints.forEach(function(item) {
            var waypoint = item.fields; // Access the 'fields' object for each waypoint
            var markerPosition = new google.maps.LatLng(waypoint.latitude, waypoint.longitude);
            var marker = new google.maps.Marker({
                position: markerPosition,
                map: map,
                title: waypoint.name
            });
                    // Add click event to each marker to open an info window or trigger another action
            marker.addListener('click', function() {
                var contentString = '<div><strong>' + waypoint.name + '</strong><p>' + waypoint.description + '</p></div>';
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                infowindow.open(map, marker);
            });
        });
    }
    </script>
    {% include 'resource_maps/waypoint_info.html' %}
    <!-- Waypoint voting modals -->
    {% for waypoint in waypoints %}
    <div class="modal fade" id="waypointModal-{{ waypoint.pk }}" tabindex="-1" role="dialog" aria-labelledby="waypointModalLabel-{{ waypoint.pk }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="waypointModalLabel-{{ waypoint.pk }}">{{ waypoint.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ waypoint.description }}</p>
                    <p>Vote Score: {{ vote_scores|get_by_key:waypoint.pk }}</p>
                    <p>Vote Percentage: {{ vote_percentages|get_by_key:waypoint.pk }}%</p>
                </div>
                <div class="modal-footer">
                    <!-- Simple Bootstrap buttons for voting -->
                    <button type="button" class="btn btn-success" hx-post="{% url 'resource_maps:vote_waypoint' waypoint.id 'yes' %}" hx-trigger="click" hx-target="#waypointInfo" hx-swap="outerHTML">Yes</button>
                    <button type="button" class="btn btn-danger" hx-post="{% url 'resource_maps:vote_waypoint' waypoint.id 'no' %}" hx-trigger="click" hx-target="#waypointInfo" hx-swap="outerHTML">No</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

<!-- Load the Google Maps API script asynchronously with a callback to initMap -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7mz3cFgW2AiTqfBAGQdp7NooU6eq0Ci4&callback=initMap&libraries=places"></script>
<script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.min.js"></script>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    event.detail.headers['X-CSRFToken'] = csrfToken;
  });
</script>
