{% extends "resource_maps/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<!-- Map container -->
<div id="map" style="height: 600px;"></div>
    <script>
    // Preparing waypoint data from Django context to JavaScript
    var waypoints = JSON.parse('{{ waypoints_json|escapejs }}');
    var voteScores = JSON.parse('{{ vote_scores_json|escapejs }}');
        function updateModalContent(swapInfo) {
            var response = JSON.parse(swapInfo.detail.xhr.responseText);
            // Now update the modal content with the new data
            document.querySelector('#voteScore-' + response.waypoint_id).textContent = "Vote Score: " + response.vote_score;
            document.querySelector('#votePercentage-' + response.waypoint_id).textContent = "Vote Percentage: " + response.vote_percentage + "%";
    }

    // Function to update and show the modal for a waypoint
    function updateAndShowModal(waypointItem) {
        var waypoint = waypointItem.fields; // Access the 'fields' object for each waypoint
        // Set the content of the modal
        var modalID = '#waypointModal-' + waypointItem.pk;
        $(modalID + ' .modal-title').text(waypoint.name);
        $(modalID + ' .modal-body').html(waypoint.description + '<br>Vote Score: ' +
            '<span id="voteScore-' + waypointItem.pk + '">' + (waypoint.votes_yes - waypoint.votes_no) + '</span><br>Vote Percentage: ' +
            '<span id="votePercentage-' + waypointItem.pk + '">' + calculateVotePercentage(waypoint.votes_yes, waypoint.votes_no) + '</span>');

        // Show the modal
        $(modalID).modal('show');
    }
    // Function to handle updating the modal content after a vote


    // Utility function to calculate vote percentage
    function calculateVotePercentage(votesYes, votesNo) {
        var totalVotes = votesYes + votesNo;
        return totalVotes > 0 ? ((votesYes / totalVotes) * 100).toFixed(2) + '%' : '0%';
    }

    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(18.2244, -66.0457), // Default center of the map
            zoom: 12 // Default zoom level
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        waypoints.forEach(function (item) {
            var markerPosition = new google.maps.LatLng(item.fields.latitude, item.fields.longitude);
            var marker = new google.maps.Marker({
                position: markerPosition,
                map: map,
                title: item.fields.name
            });

            // Add click event to each marker to open the corresponding Bootstrap modal
            marker.addListener('click', function() {
                updateAndShowModal(item);
            });
        });
    }
    </script>

    <!-- Load the Google Maps API script asynchronously with a callback to initMap -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7mz3cFgW2AiTqfBAGQdp7NooU6eq0Ci4&callback=initMap&libraries=places"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.min.js"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        event.detail.headers['X-CSRFToken'] = csrfToken;
      });
    </script>

    <!-- Waypoint voting modals -->
    {% for waypoint in waypoints %}
    <div class="modal fade" id="waypointModal-{{ waypoint.pk }}" tabindex="-1" role="dialog" aria-labelledby="waypointModalLabel-{{ waypoint.pk }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="waypointModalLabel-{{ waypoint.pk }}">{{ waypoint.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="voteInfo-{{ waypoint.pk }}">
                    <p>{{ waypoint.description }}</p>
                    <p>Vote Score: <span id="voteScore-{{ waypoint.pk }}">{{ vote_scores|get_by_key:waypoint.pk }}</span></p>
                    <p>Vote Percentage: <span id="votePercentage-{{ waypoint.pk }}">{{ vote_percentages|get_by_key:waypoint.pk }}%</span></p>
                </div>
                <div class="modal-footer">
                    <!-- Simple Bootstrap buttons for voting -->
                    <button type="button" class="btn btn-success" hx-post="{% url 'resource_maps:vote_waypoint' waypoint.pk 'yes' %}" hx-trigger="click" hx-target="#voteInfo-{{ waypoint.pk }}" hx-swap="innerHTML" hx-after-swap="updateModalContent">Yes</button>
                    <button type="button" class="btn btn-danger" hx-post="{% url 'resource_maps:vote_waypoint' waypoint.pk 'no' %}" hx-trigger="click" hx-target="#voteInfo-{{ waypoint.pk }}" hx-swap="innerHTML" hx-after-swap="updateModalContent">No</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- New Section for Listing Active Waypoints -->
    <div class="container mt-4">
        <h3>Active Waypoints</h3>
        <div class="list-group">
        {% for waypoint in waypoints %}
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              {{ waypoint.name }}
              <span class="badge badge-primary badge-pill">{{ waypoint.vote_score }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endblock %}